.features-inthebox
{ padding:0 15rem ;
    width: 100%;
display: flex;

}


.features{
   width: 50%;
   padding: 1rem 0rem;
}
.in-the-box{
    width: 50%;
    padding: 1rem 5rem;
    
} 
.in-the-box h1{
    margin-bottom: 30px;
}
.in-the-box p span
{
    color: var(--orange);
    margin-right: 20px;
   
}
.in-the-box p
{ font-size: 1rem;
    color: grey;

}